<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.neilrenicker.harvest</string>
	<key>connections</key>
	<dict>
		<key>0D8D08EF-2F39-456A-AE56-29F019C948B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5BD3793-843D-4903-A7EB-BDA621C84AAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3943AAE3-B117-4A2B-99DC-491B1C94C8A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19D06122-202C-4DBA-80DF-6923A5FDA091</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4A67BAC3-0B1F-4588-A927-C99D01112342</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A87D86DC-4941-4857-8BEC-A49BD68AFC93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0D8D08EF-2F39-456A-AE56-29F019C948B4</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Delete this task...</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3E52DA9F-CFC7-4CDA-93DD-252EBB63C898</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Append a note to this task...</string>
			</dict>
		</array>
		<key>63B527C1-66CE-447A-8F7C-A007A9BC2ABA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1787F485-A642-494C-9371-DC70819172C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>76E1F9D9-1782-43C5-AD1D-291CE54A50E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C794BD0-83A9-4FD8-A874-F79E98B2CF5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7C769085-368E-434E-A685-A9217515874D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>648E677F-5B10-45F2-9595-606FBF4C43CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>60CFCBE9-3D2A-4EFE-8138-8CA75A00801C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8C794BD0-83A9-4FD8-A874-F79E98B2CF5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29E8C893-7C43-44C3-A085-C781EB89FA05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A87D86DC-4941-4857-8BEC-A49BD68AFC93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBF74D0F-36D2-484B-8AC8-B61B1DC1EC64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B93A4B5E-096F-47BE-A58C-E1EE475CFFA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C769085-368E-434E-A685-A9217515874D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B9AD2746-03ED-4B02-BEC5-0D492B3C4375</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3943AAE3-B117-4A2B-99DC-491B1C94C8A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Neil Renicker</string>
	<key>description</key>
	<string>Start, stop and edit your Harvest timers</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Harvest</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php -f toggle.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A87D86DC-4941-4857-8BEC-A49BD68AFC93</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hv toggle</string>
				<key>runningsubtext</key>
				<string>Finding today's tasks...</string>
				<key>script</key>
				<string>php -f harvest.php "{query}"</string>
				<key>subtext</key>
				<string>Choose a task to toggle…</string>
				<key>title</key>
				<string>Toggle today's timers</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4A67BAC3-0B1F-4588-A927-C99D01112342</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Harvest timer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BBF74D0F-36D2-484B-8AC8-B61B1DC1EC64</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Harvest task deleted!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C5BD3793-843D-4903-A7EB-BDA621C84AAF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php -f delete.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0D8D08EF-2F39-456A-AE56-29F019C948B4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3E52DA9F-CFC7-4CDA-93DD-252EBB63C898</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php -f note_post.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8C794BD0-83A9-4FD8-A874-F79E98B2CF5F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hv note</string>
				<key>runningsubtext</key>
				<string>Finding today's tasks...</string>
				<key>script</key>
				<string>php -f note.php "{query}"</string>
				<key>subtext</key>
				<string>Choose a task to begin…</string>
				<key>title</key>
				<string>Add a task note</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>76E1F9D9-1782-43C5-AD1D-291CE54A50E8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Note added</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>29E8C893-7C43-44C3-A085-C781EB89FA05</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php -f new_post.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3943AAE3-B117-4A2B-99DC-491B1C94C8A2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hv new</string>
				<key>runningsubtext</key>
				<string>Finding your projects...</string>
				<key>script</key>
				<string>php -f new.php "{query}"</string>
				<key>subtext</key>
				<string>View available Harvest projects...</string>
				<key>title</key>
				<string>Start new timer</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B9AD2746-03ED-4B02-BEC5-0D492B3C4375</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Harvest timer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>19D06122-202C-4DBA-80DF-6923A5FDA091</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>hv launch</string>
				<key>script</key>
				<string>require('auth.php');
$url = "https://$subdomain.harvestapp.com";

$xml = "&lt;?xml version=\"1.0\"?&gt;\n&lt;items&gt;\n";
$xml .= "&lt;item uid=\"harvestaccount\" arg=\"$url\"&gt;\n";
$xml .= "&lt;title&gt;Launch Harvest account...&lt;/title&gt;\n";
$xml .= "&lt;subtitle&gt;Open $url&lt;/subtitle&gt;\n";
$xml .= "&lt;icon&gt;icon.png&lt;/icon&gt;\n";
$xml .= "&lt;/item&gt;\n";
$xml .= "&lt;/items&gt;";
echo $xml;</string>
				<key>subtext</key>
				<string>Launch Harvest account in a browser</string>
				<key>title</key>
				<string>Launch Harvest account</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63B527C1-66CE-447A-8F7C-A007A9BC2ABA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>1787F485-A642-494C-9371-DC70819172C4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hv setup</string>
				<key>script</key>
				<string>$in = "{query}";
$dir = "../../../Workflow Data/com.neilrenicker.harvest/";

if (!is_dir($dir)) {
  mkdir($dir);         
}

$step1 = ( file_exists( $dir . 'step1.txt' ) ) ? file_get_contents( $dir . 'step1.txt' ) : false;
$step2 = ( file_exists( $dir . 'step2.txt' ) ) ? file_get_contents( $dir . 'step2.txt' ) : false;
$step3 = ( file_exists( $dir . 'step3.txt' ) ) ? file_get_contents( $dir . 'step3.txt' ) : false;

if ( !$step1 ):
  $xml = "&lt;?xml version=\"1.0\"?&gt;\n&lt;items&gt;\n";
  $xml .= "&lt;item arg=\"$in\"&gt;\n";
  $xml .= "&lt;title&gt;Subdomain: $in&lt;/title&gt;\n";
  $xml .= "&lt;subtitle&gt;THIS_PART.harvestapp.com&lt;/subtitle&gt;\n";
  $xml .= "&lt;icon&gt;icon.png&lt;/icon&gt;\n";
  $xml .= "&lt;/item&gt;\n";
  $xml .= "&lt;/items&gt;";
elseif ( !$step2 ):
  $xml = "&lt;?xml version=\"1.0\"?&gt;\n&lt;items&gt;\n";
  $xml .= "&lt;item arg=\"$in\"&gt;\n";
  $xml .= "&lt;title&gt;Email: $in&lt;/title&gt;\n";
  $xml .= "&lt;subtitle&gt;Enter your Harvest login email&lt;/subtitle&gt;\n";
  $xml .= "&lt;icon&gt;icon.png&lt;/icon&gt;\n";
  $xml .= "&lt;/item&gt;\n";
  $xml .= "&lt;/items&gt;";
elseif ( !$step3 ):
  $xml = "&lt;?xml version=\"1.0\"?&gt;\n&lt;items&gt;\n";
  $xml .= "&lt;item arg=\"$in\"&gt;\n";
  $xml .= "&lt;title&gt;Password: $in&lt;/title&gt;\n";
  $xml .= "&lt;subtitle&gt;Enter your Harvest password&lt;/subtitle&gt;\n";
  $xml .= "&lt;icon&gt;icon.png&lt;/icon&gt;\n";
  $xml .= "&lt;/item&gt;\n";
  $xml .= "&lt;/items&gt;";
endif;

echo $xml;</string>
				<key>subtext</key>
				<string>Required: Harvest domain, email, and password</string>
				<key>title</key>
				<string>Set Harvest credentials</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B93A4B5E-096F-47BE-A58C-E1EE475CFFA9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>$in = trim( "{query}" );
$dir = "../../../Workflow Data/com.neilrenicker.harvest/";


$step1 = ( file_exists( $dir . 'step1.txt' ) ) ? file_get_contents( $dir . 'step1.txt' ) : false;
$step2 = ( file_exists( $dir . 'step2.txt' ) ) ? file_get_contents( $dir . 'step2.txt' ) : false;
$step3 = ( file_exists( $dir . 'step2.txt' ) ) ? $in : false;

if ( !$step1 ):
  file_put_contents( $dir . 'step1.txt', $in );
elseif ( !$step2 ):
  file_put_contents( $dir . 'step2.txt', $in );
elseif ( $step3 ):
  unlink( $dir . 'step1.txt' );
  unlink( $dir . 'step2.txt' );
  $id = "$step1\n$step2\n$step3";
  file_put_contents( $dir . 'id.txt', $id );
  echo "$id";
  $setCache = system('php getdaily.php');
endif;</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7C769085-368E-434E-A685-A9217515874D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>The workflow is ready to use.</string>
				<key>title</key>
				<string>Harvest credentials set!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>648E677F-5B10-45F2-9595-606FBF4C43CD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>set temp to "{query}"
if temp is "" then
	tell application "Alfred 2" to search "hset "
end if</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>60CFCBE9-3D2A-4EFE-8138-8CA75A00801C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Harvest workflow for Alfred

Let Alfred help you track your time. This workflow gives you complete access to your Harvest time-tracking:

* view today's timesheet
* start / stop a timer

View releases and download the latest: https://github.com/neilrenicker/alfred-harvest/releases

**Note:** Still work in progress. Don't share the workflow from within Alfred—unless you delete the `projects.txt` and `id.txt` within the workflow folder, you'll be sharing your projects and Harvest password with your friends.

## How to use:

* Type `hset` to enter your Harvest subdomain, email, and password. **Note:** THIS_PART_IS_YOUR_SUBDOMAIN.harvestapp.com
* Type `hv` to generate a list of your current projects
* Press `enter` on the current timer to toggle tracking on it
* Press `enter` on any other project to view available tasks, then press `enter` to begin tracking time on it
* Hold `option` on any of today's active projects to delete today's time on that project</string>
	<key>uidata</key>
	<dict>
		<key>0D8D08EF-2F39-456A-AE56-29F019C948B4</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>1787F485-A642-494C-9371-DC70819172C4</key>
		<dict>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>19D06122-202C-4DBA-80DF-6923A5FDA091</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>29E8C893-7C43-44C3-A085-C781EB89FA05</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>3943AAE3-B117-4A2B-99DC-491B1C94C8A2</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>3E52DA9F-CFC7-4CDA-93DD-252EBB63C898</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>4A67BAC3-0B1F-4588-A927-C99D01112342</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>60CFCBE9-3D2A-4EFE-8138-8CA75A00801C</key>
		<dict>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>63B527C1-66CE-447A-8F7C-A007A9BC2ABA</key>
		<dict>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>648E677F-5B10-45F2-9595-606FBF4C43CD</key>
		<dict>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>76E1F9D9-1782-43C5-AD1D-291CE54A50E8</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>7C769085-368E-434E-A685-A9217515874D</key>
		<dict>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>8C794BD0-83A9-4FD8-A874-F79E98B2CF5F</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>A87D86DC-4941-4857-8BEC-A49BD68AFC93</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>B93A4B5E-096F-47BE-A58C-E1EE475CFFA9</key>
		<dict>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>B9AD2746-03ED-4B02-BEC5-0D492B3C4375</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>BBF74D0F-36D2-484B-8AC8-B61B1DC1EC64</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>C5BD3793-843D-4903-A7EB-BDA621C84AAF</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/neilrenicker/alfred-harvest</string>
</dict>
</plist>
