<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.neilrenicker.harvest</string>
	<key>connections</key>
	<dict>
		<key>0D8D08EF-2F39-456A-AE56-29F019C948B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5BD3793-843D-4903-A7EB-BDA621C84AAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3943AAE3-B117-4A2B-99DC-491B1C94C8A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19D06122-202C-4DBA-80DF-6923A5FDA091</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4A67BAC3-0B1F-4588-A927-C99D01112342</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A87D86DC-4941-4857-8BEC-A49BD68AFC93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0D8D08EF-2F39-456A-AE56-29F019C948B4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Delete this entry...</string>
			</dict>
		</array>
		<key>7C769085-368E-434E-A685-A9217515874D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>648E677F-5B10-45F2-9595-606FBF4C43CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>60CFCBE9-3D2A-4EFE-8138-8CA75A00801C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A87D86DC-4941-4857-8BEC-A49BD68AFC93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBF74D0F-36D2-484B-8AC8-B61B1DC1EC64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B93A4B5E-096F-47BE-A58C-E1EE475CFFA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C769085-368E-434E-A685-A9217515874D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B9AD2746-03ED-4B02-BEC5-0D492B3C4375</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3943AAE3-B117-4A2B-99DC-491B1C94C8A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Neil Renicker</string>
	<key>description</key>
	<string>Start, stop and edit your Harvest timers</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Harvest</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php -f toggle.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A87D86DC-4941-4857-8BEC-A49BD68AFC93</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>hv</string>
				<key>runningsubtext</key>
				<string>Generating your timesheet...</string>
				<key>script</key>
				<string>php -f harvest.php</string>
				<key>subtext</key>
				<string>Choose the project you want to start...</string>
				<key>title</key>
				<string>Track your time</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4A67BAC3-0B1F-4588-A927-C99D01112342</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Harvest timer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BBF74D0F-36D2-484B-8AC8-B61B1DC1EC64</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Harvest task deleted!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C5BD3793-843D-4903-A7EB-BDA621C84AAF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php -f delete.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0D8D08EF-2F39-456A-AE56-29F019C948B4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php -f new_post.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3943AAE3-B117-4A2B-99DC-491B1C94C8A2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>hv</string>
				<key>runningsubtext</key>
				<string>Finding your projects...</string>
				<key>script</key>
				<string>php -f new.php "{query}"</string>
				<key>subtext</key>
				<string>View available Harvest projects...</string>
				<key>title</key>
				<string>Start new timer</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B9AD2746-03ED-4B02-BEC5-0D492B3C4375</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Harvest timer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>19D06122-202C-4DBA-80DF-6923A5FDA091</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>harset</string>
				<key>script</key>
				<string>$in = "{query}";

$step1 = ( file_exists( 'step1.txt' ) ) ? file_get_contents( 'step1.txt' ) : false;
$step2 = ( file_exists( 'step2.txt' ) ) ? file_get_contents( 'step2.txt' ) : false;
$step3 = ( file_exists( 'step3.txt' ) ) ? file_get_contents( 'step3.txt' ) : false;

if ( !$step1 ):
  $xml = "&lt;?xml version=\"1.0\"?&gt;\n&lt;items&gt;\n";
  $xml .= "&lt;item arg=\"$in\"&gt;\n";
  $xml .= "&lt;title&gt;Short URL: $in&lt;/title&gt;\n";
  $xml .= "&lt;subtitle&gt;THIS_PART_IS_YOUR_SHORT_URL.harvestapp.com&lt;/subtitle&gt;\n";
  $xml .= "&lt;icon&gt;icon.png&lt;/icon&gt;\n";
  $xml .= "&lt;/item&gt;\n";
  $xml .= "&lt;/items&gt;";
elseif ( !$step2 ):
  $xml = "&lt;?xml version=\"1.0\"?&gt;\n&lt;items&gt;\n";
  $xml .= "&lt;item arg=\"$in\"&gt;\n";
  $xml .= "&lt;title&gt;Email: $in&lt;/title&gt;\n";
  $xml .= "&lt;subtitle&gt;Enter your Harvest login email&lt;/subtitle&gt;\n";
  $xml .= "&lt;icon&gt;icon.png&lt;/icon&gt;\n";
  $xml .= "&lt;/item&gt;\n";
  $xml .= "&lt;/items&gt;";
elseif ( !$step3 ):
  $xml = "&lt;?xml version=\"1.0\"?&gt;\n&lt;items&gt;\n";
  $xml .= "&lt;item arg=\"$in\"&gt;\n";
  $xml .= "&lt;title&gt;Password: $in&lt;/title&gt;\n";
  $xml .= "&lt;subtitle&gt;Enter your Harvest password&lt;/subtitle&gt;\n";
  $xml .= "&lt;icon&gt;icon.png&lt;/icon&gt;\n";
  $xml .= "&lt;/item&gt;\n";
  $xml .= "&lt;/items&gt;";
endif;

echo $xml;</string>
				<key>title</key>
				<string>Set Harvest credentials</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B93A4B5E-096F-47BE-A58C-E1EE475CFFA9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>$in = trim( "{query}" );

$step1 = ( file_exists( 'step1.txt' ) ) ? file_get_contents( 'step1.txt' ) : false;
$step2 = ( file_exists( 'step2.txt' ) ) ? file_get_contents( 'step2.txt' ) : false;
$step3 = ( file_exists( 'step2.txt' ) ) ? $in : false;

if ( !$step1 ):
  file_put_contents( 'step1.txt', $in );
elseif ( !$step2 ):
  file_put_contents( 'step2.txt', $in );
elseif ( $step3 ):
  unlink( 'step1.txt' );
  unlink( 'step2.txt' );
  $id = "$step1|$step2|$step3";
  file_put_contents( 'id.txt', $id );
  echo "$id";
endif;</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7C769085-368E-434E-A685-A9217515874D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>The Harvest workflow is ready to use.</string>
				<key>title</key>
				<string>Harvest credentials set!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>648E677F-5B10-45F2-9595-606FBF4C43CD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>set temp to "{query}"
if temp is "" then
	tell application "Alfred 2" to search "harset "
end if</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>60CFCBE9-3D2A-4EFE-8138-8CA75A00801C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0D8D08EF-2F39-456A-AE56-29F019C948B4</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>19D06122-202C-4DBA-80DF-6923A5FDA091</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>3943AAE3-B117-4A2B-99DC-491B1C94C8A2</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>4A67BAC3-0B1F-4588-A927-C99D01112342</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>60CFCBE9-3D2A-4EFE-8138-8CA75A00801C</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>648E677F-5B10-45F2-9595-606FBF4C43CD</key>
		<dict>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>7C769085-368E-434E-A685-A9217515874D</key>
		<dict>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>A87D86DC-4941-4857-8BEC-A49BD68AFC93</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>B93A4B5E-096F-47BE-A58C-E1EE475CFFA9</key>
		<dict>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>B9AD2746-03ED-4B02-BEC5-0D492B3C4375</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>BBF74D0F-36D2-484B-8AC8-B61B1DC1EC64</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>C5BD3793-843D-4903-A7EB-BDA621C84AAF</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://neilrenicker.com</string>
</dict>
</plist>
